    
      <footer class="footer mt-auto py-3 bg-body-secondary">
        <div class="container">
          <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4">
        
            <a href="{{ @BASE }}{{ 'home' | alias }}" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
              <img src="images/Task-it-logo.svg" alt="Bootstrap" height="40">
            </a>
        
            <p class="col-md-4 mb-0 text-body-secondary">©2024 Copyright</p>

            <ul class="nav col-md-4">
              <li class="nav-item"><a href="{{ @BASE }}{{ 'home' | alias }}" class="nav-link px-2 text-body-secondary">Home</a></li>
              <li class="nav-item"><a href="{{ @BASE }}{{ 'dashboard' | alias }}" class="nav-link px-2 text-body-secondary">Dashboard</a></li>
              <li class="nav-item"><a href="{{ @BASE }}{{ 'contact' | alias }}" class="nav-link px-2 text-body-secondary">Contact us</a></li>
            </ul>
          </footer>
        </div>
      </footer>
       
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.0-rc1/jquery.min.js" integrity="sha512-h2edW9FaDhqYF3XvVQo0/Ph3IDgVD0IpSTnifeLvP5FawpJCnFX7E9meeVSvMC30xazcF/YgZWsrXh6x/HJK7g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-migrate/1.2.1/jquery-migrate.min.js" integrity="sha512-fDGBclS3HUysEBIKooKWFDEWWORoA20n60OwY7OSYgxGEew9s7NgDaPkj7gqQcVXnASPvZAiFW8DiytstdlGtQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
      <script src="js/main.js"></script>
    </body>
  </html>
  