@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap&Montserrat');

* {
  font-family: "Rubik", sans-serif;
}
h1 {
  font-family: "Poppins", sans-serif;
}
h2, h3, h4, h5, h6 {
  font-family: "Roboto", sans-serif;
}

.btn-primary, .btn-primary:link, .btn-primary:visited {
  background-color: #E67F0D;
  border-color: #E67F0D;
}
.btn-primary:hover, .btn-primary:active {
  background-color: #9c6308;
  border-color: #9c6308;
}

.nav-pills .nav-link, .nav-pills .nav-item {
  color:#ab5e07;
}

.cursor-pointer {
  cursor: pointer;
}
#menu i.bi{
  font-size: 24px;
}

.messages,.error-messages{
  color: #999;
  font-variant: small-caps;
} 

.messages::before{
  /*content: '\0270D'*/
  content: '\2B50';
}

.error-messages::before {
  content: '\02757';
  font-size: 1.2rem; /* Adjust as needed */
  color: #dc3545; /* Bootstrap's text-danger color */
}

#createTask{
  cursor: pointer;
}

/* Base styles for title text */
.title-text {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;  
  width: 9em;   
  text-overflow: ellipsis;
}
.title-text::before {
  content: attr(data-short); /* Use short version */
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* hide the full title on small screens */
@media (max-width: 575.98px) { 
  .title-text {
    position: relative;
    display: inline-block;
    width: 3em; /* width of 3 characters */
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  
}