.btn-primary, .btn-primary:link, .btn-primary:visited {
  background-color: #E67F0D;
  border-color: #E67F0D;
}
.btn-primary:hover, .btn-primary:active {
  background-color: #9c6308;
}

.footer {
  width: 100%;
  background-color: #D9D9D9;
  color: white;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-icon-text-box {
  display: flex;
  align-items: center;
  padding: 5px 15px;
  background-color: #AAAAAA;
  max-width: 300px;
  width: auto;
  margin-right: 10px;
  border-radius: 5px;
}

.footer-icon-box {
  background-color: #6A0DAD;
  border-radius: 50%;
  padding: 5px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-icon {
  font-size: 1.5rem;
  color: white;
  cursor: pointer;
  transition: transform 1s ease-in-out;
}

.footer-icon:hover {
  transform: rotate(360deg);
}

.footer-text-container {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 5px 10px;
  background-color: #322F35;
  border-radius: 5px;
  margin-left: 10px;
  height: auto;
}

.footer-text {
  text-align: right;
  font-size: 0.8rem;
  white-space: nowrap;
  color: white;
  margin: 0;
  line-height: 1;
}

@media (max-width: 767.98px) {
  .footer {
    flex-direction: column;
  }

  .footer-icon-text-box {
    justify-content: center;
    margin-bottom: 10px;
  }

  .footer-text-container {
    justify-content: center;
    text-align: center;
    margin-left: 0;
  }
}
