<include href="includes/header.html">

  <div class="container col-xl-10 col-xxl-8 px-4 py-5">
    <div class="row align-items-center g-lg-5 py-5">
      <div class="col-lg-7 text-center text-lg-start">
        <h1 class="display-4 fw-bold lh-1 text-body-emphasis mb-5">Get in Touch with Us</h1>
        <p class="col-lg-10 fs-4">We'd love to hear from you! Whether you have a question about our features, settings or anything else, our team is ready to answer all your questions.</p>
      </div>
      <div class="col-md-10 mx-auto col-lg-5">
        <form action="{{ @BASE }}{{ 'contact' | alias }}" method="POST" class="p-4 p-md-5 border rounded-3 bg-body-tertiary">
          <div class="py-5 text-center">
            <h2>
              <span class="text-uppercase">Contact us</span>
            </h2>
          </div>
          
          <check if="{{@msg}}"><!-- if message found then show them message -->
            <p class='messages'>{{ @msg }}</p>
          </check>
          <check if="{{@errors}}">
            <p class="error-messages">{{ "<br>", @errors | implode }}</p>
          </check>
          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingNameInput" placeholder="Your Name" name="username" value="{{ @item['username']  ?? '' }}">
            <label for="floatingNameInput">Name</label>
          </div>
          <div class="form-floating mb-3">
            <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" name="email" value="{{ @item['email']  ?? '' }}">
            <label for="floatingInput">Email address</label>
          </div>
          <div class="form-floating">
            <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" name="comment" style="height: 100px">{{ @item['comment']  ?? '' }}</textarea>
            <label for="floatingTextarea2">Comments</label>
          </div>
          {* TODO: to add Captcha?  *}
          <button class="btn btn-primary px-4 btn-lg rounded-pill my-4" type="submit">Send</button>
        </form>
      </div>
    </div>
  </div>

<include href="includes/footer.html"> 
