<div class="jumbotron jumbotron-fluid bg-tertiary border-0 py-3 ps-lg-5 px-auto px-lg-0">
  <h1 class="display-3 mb-2 ms-0">Tasks due today</h1>
  <p class="lead text-muted">Manage the tasks with ease</p>
</div>

<!-- tasks with checkboxes and stars-->
<div class="container-fluid m-0 p-0 my-3">
      
  <div class="row mb-3">
    <div class="col-md-8 d-flex">      

      <div class="list-group w-100">

      <h3 class="lead text-uppercase ms-3 my-3">Tasks</h3>        
      
      
      <label class="list-group-item d-flex gap-3 bg-body-tertiary py-3" id="createTaskChooseList"  data-bs-toggle="modal" data-bs-target="#createTaskChooseListModal">
        <i class="bi bi-plus-lg" style="font-size: 1.375em;"></i>
        <span class="pt-1 form-checked-content">
          <span class="w-100">Add new task...</span>
        </span>
      </label>

        <label class="list-group-item d-flex gap-3 align-items-start py-3">
          <input class="form-check-input flex-shrink-0" type="checkbox" value="" style="font-size: 1.375em;">
          <div class="d-flex flex-column me-auto">
            <strong>Task for today 1</strong>
            <p>Task 1 description</p>
            <small class="text-body-secondary d-flex gap-3">
              {* <i class="bi bi-calendar-event"></i>{{ @item.task_due_date }}<br> *}
            </small>
          </div>
          <span class="important lead flex-shrink-0 align-self-start"><i class="bi bi-star"></i></span>
        </label>
      

      </div>
    </div>



    <!-- Statistics to the right of tasks-->
    <div class="col-md-4">
      <h3 class="lead text-uppercase ms-3 my-3">Quick Stats for today</h3>
      <ol class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-start py-3">
          <div class="ms-2 me-auto">
            <div class="">Total</div>
          </div>
          <span class="badge text-bg-secondary rounded-pill">0</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start py-3">
          <div class="ms-2 me-auto">
            <div class="">Completed</div>
          </div>
          <span class="badge text-bg-secondary rounded-pill">0</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start py-3">
          <div class="ms-2 me-auto">
            <div class="">Important</div>
          </div>
          <span class="badge text-bg-secondary rounded-pill">0</span>
        </li>
      </ol>
    </div>

  </div>




</div>