<div id="modal-errors"></div>
<form action="{{ @BASE }}{{ 'editList' | alias }}" id="editListForm" method="POST" class="p-4 p-md-5 border rounded-3 bg-body-tertiary">               
  <div class="form-floating mb-3">
    <input type="text" class="form-control" id="floatingNameInput" placeholder="Your Name" name="title" value="{{ @itemList['title'] }}">
    <label for="floatingNameInput">List title</label>
  </div>        
  <input type="hidden" name="list_id" value="{{ @itemList['id'] }}">
  <button type="submit" class="btn btn-primary px-4 rounded-pill">Save</button>
</form>