<div id="modal-errors"></div>
<form id="createTaskForm" action="{{ @BASE }}{{ 'addTask' | alias }}" method="POST" class="p-4 p-md-5 border rounded-3 bg-body-tertiary">               
  <div class="form-floating mb-3">
    <input type="text" class="form-control" id="floatingNameInput" placeholder="Your Name" name="title">
    <label for="floatingNameInput">Task title</label>
  </div>
  <div class="form-floating mb-3">
    <input type="text" class="form-control" id="floatingInput" placeholder="" name="description">
    <label for="floatingInput">Task description</label>
  </div>
  
  <!--
  <small>Due date</small>
  <br>
  {* Date and time pickers *} 
  
  <div class="container-fluid m-0 p-0 mb-4">
    <input class="form-control" type="datetime-local">
  </div>
  -->

  <button type="submit" class="btn btn-primary px-4 rounded-pill">Save</button>
</form>